# Ignore large data directories
2018*
lustre/
TrksQA/
plab*/
LumiPairsTest/*
modulesAlTest/
misMatrices/
LumiFit/*
LumiFit/
trackResiduals/
binaryPairFiles/
*.npy

# But never these files...
!.gitignore
!effValuesNonAligned.npy
!effValuesAligned.npy
!effValuesAlignedMulti.npy