{
    "alignment_matrices_path": "/media/DataEnc2TBRaid1/Arbeit/Root/PandaRoot/macro/detectors/lmd/geo/alMatrices/alMat-box-1.00.json",
    "ip_params": {
        "beam_divergence_x": 0.0,
        "beam_divergence_y": 0.0,
        "beam_tilt_x": 0.0,
        "beam_tilt_y": 0.0,
        "ip_offset_x": 0.0,
        "ip_offset_y": 0.0,
        "ip_offset_z": 0.0,
        "ip_spread_x": 0.0,
        "ip_spread_y": 0.0,
        "ip_spread_z": 0.0
    },
    "lab_momentum": 4.06,
    "lmd_geometry_filename": "Luminosity-Detector.root",
    "low_index": 1,
    "misalignment_matrices_path": "/media/DataEnc2TBRaid1/Arbeit/Root/PandaRoot/macro/detectors/lmd/geo/misMatrices/misMat-box-1.00.root",
    "neglect_recoil_momentum": false,
    "num_events_per_sample": 100000,
    "num_samples": 500,
    "output_dir": "",
    "random_seed": 4511,
    "sim_type": "dpm_elastic",
    "theta_max_in_mrad": 13.0,
    "theta_min_in_mrad": 2.7,
    "use_point_transform_misalignment": false
}