{
    "alignment_matrices_path": "/media/DataEnc2TBRaid1/Arbeit/LMDscripts/input/plab_1.5GeV/dpm_elastic_theta_2.7-13.0mrad_recoil_corrected/geo_misalignmentmisMat-identity-1.00/100000/alignmentMatrices/alMat-identity-1.00.json",
    "lab_momentum": 1.5,
    "lmd_geometry_filename": "Luminosity-Detector.root",
    "low_index": 1,
    "misalignment_matrices_path": "/media/DataEnc2TBRaid1/Arbeit/Root/PandaRoot/macro/detectors/lmd/geo/misMatrices/misMat-identity-1.00.root",
    "num_events_per_sample": 100000,
    "num_samples": 500,
    "output_dir": "",
    "reco_ip_offset": null,
    "track_search_algo": "CA",
    "use_m_cut": false,
    "use_point_transform_misalignment": false,
    "use_xy_cut": false
}